### Import Packages

In [37]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import sqlean as sqlite3
from geopy.geocoders import Nominatim
from geopy.extra.rate_limiter import RateLimiter

### Import Data

In [2]:
DATABASE_PATH = 'C:/University/6G7V0007_MSC_Project/Project/Data/joblistings_transformed.db'
con = sqlite3.connect(DATABASE_PATH)

In [3]:
job = pd.read_sql('SELECT * FROM job', con)
company = pd.read_sql('SELECT * FROM company', con)
website = pd.read_sql('SELECT * FROM website', con)

C:\Users\walte\AppData\Local\Temp\ipykernel_15152\1361633401.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  job = pd.read_sql('SELECT * FROM job', con)
C:\Users\walte\AppData\Local\Temp\ipykernel_15152\1361633401.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  company = pd.read_sql('SELECT * FROM company', con)
C:\Users\walte\AppData\Local\Temp\ipykernel_15152\1361633401.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  website = pd.read_sql('SELECT * FROM website', con)

In [4]:
job.set_index('id', inplace=True)
company.set_index('id', inplace=True)
website.set_index('id', inplace=True)

In [5]:
test = job.merge(company, left_on='company_id', right_index=True)

In [6]:
test.rename(columns={'name':'company_name'}, inplace=True)

In [7]:
test.head()

,website_id,company_id,title,location,pay,description,timestamp,company_name
id,,,,,,,,
1,1,1,Graduate Electronics/Computer Science Software...,Cirencester (Gloucestershire),"£30,000",About the role A unique opportunity to join a ...,2024-06-28,AccuLink Technology
145,1,1,Project Engineer,Cirencester (Gloucestershire),Competitive,AccuLink Technology specialises in the design ...,2024-06-28,AccuLink Technology
2,1,2,Graduate Software Development Engineer,London,Competitive,nFocus Graduate Academy Accelerate your career...,2024-06-28,nfocus
3,1,3,Graduate Technology Consultant,Manchester (Hybrid),Competitive,About Arlanis Reply: Arlanis Reply is the Repl...,2024-06-28,Reply
20,1,3,Graduate Software Developer,London and Manchester (Hybrid),Competitive,About Arlanis Reply: Arlanis Reply is the Repl...,2024-06-28,Reply

### Clean location

In [10]:
# Remove characters in brackets
test['location'].replace(r'\(.*\)', '', regex=True, inplace=True)

In [49]:
# Remove postcodes
test['location'].replace(r'[A-Z]{2}[0-9]{1,2}[A-Z]?', '', regex=True, inplace=True)

id
1867                                     London
1872                                      London
1873                                      Remote
1874                                 Nottingham
1876                              United Kingdom
1881                          Welwyn Garden City
1882    The Minstry, 79-81 Borough Road, London
1884                                      Harrow
1885                                    Croydon
1889                        Newcastle upon Tyne
1892                                      London
1893                                  Birmingham
1894                                      London
1897                                     Bristol
1900                                     Preston
1901                                      Remote
1909                                   Doncaster
1912                                     Cardiff
1914                   15 Cotswold Road, Sutton
1916                                     Morley
1917                                   Bracknell
1920               4 Phoenix Square, Colchester
1921                                   Guildford
1922                               Alderley Edge
1923                                      Remote
1926           4it Recruitment Ltd in Manchester
1927       prosperIS Recruitment Ltd in Monmouth
1928                                      Didcot
1929                                    Telford
1933                                    Chiswick
Name: location, dtype: object

In [12]:
# Strip whitespace
test['location'] = test['location'].str.strip()

In [33]:
# Map multiple locations to separate category
test['location'].replace(r'.*\sand\s.*', 'Multiple Locations', regex=True, inplace=True)
test['location'].replace(r'.*\s[&+]\s.*', 'Multiple Locations', regex=True, inplace=True)
test['location'].replace('Multiple UK Locations', 'Multiple Locations', inplace=True)
test['location'].replace('Multiple Worldwide Locations', 'Multiple Locations', inplace=True)

In [34]:
test['location'].unique()

array(['Cirencester', 'London', 'Manchester', 'Multiple Locations',
       'Bristol', 'Cambridge', 'Geneva', 'Leeds', 'Warsaw', 'Brixworth',
       'Glasgow', 'Barrow-in-Furness', 'Warton', 'Broad Oak', 'Brough',
       'Scotstoun', 'Frimley', 'Filton', 'Weymouth', 'Barrow',
       'Prestwick', 'Barrow-In-Furness', 'Chippenham', 'Pontyclun',
       'Leatherhead', 'Redditch', 'Trafford Park', 'Stafford',
       'Cheltenham', 'Didsbury', 'Solihull', 'Brighton', 'Remote',
       'Malvern Hills', 'Chiswick', 'Chiswick Park', 'Luton',
       'Crewe Toll, Edinburgh', 'Basildon', 'Southampton', 'Edinburgh',
       'Leicester', 'Oxford', 'Tokyo', 'Bridgend', 'Burton',
       'London, Chesterfield, Olney', 'Silverstone', 'Derby', 'Shipley',
       'Poole', 'Newport', 'Newcastle', 'Norwich', 'West Midlands',
       'Hemel Hempstead', 'Bath', 'Reading', 'Crownhill', 'Dublin',
       'Eastbourne', 'Heathrow', 'Stockley Park, Uxbridge',
       'Wolverhampton', 'Fareham', 'East Kilbride', 'Thame', 'Birmingham',
       'Gravesend', 'Aylesbury', 'Sandhurst', 'Liverpool',
       'Stratford-upon-Avon', 'Plymouth', 'Rosyth', 'Hong Kong',
       'Stowmarket', 'Pencoed', 'Cardiff', 'Newcastle University',
       'Telford', 'Durrington', 'Beckington', 'Exeter', 'Woodchester',
       'Belfast', 'Bollington', 'Andover', 'Maidstone',
       'London, Stevenage', 'Cramlington', 'Tiverton, Devon', 'Hull',
       'Bradford', 'London W6', 'Waterlooville PO7', 'Banbury', 'Swindon',
       'London SE1', 'London W1W', 'Marlow', 'Halifax',
       'Kingston upon Thames', 'London EC1R',
       '5th Floor, County Hall, London SE1', 'Swansea',
       'READING, Reading, RG11NB, United Kingdom', 'Killingworth NE12',
       'Hove BN3', 'London NW1', 'Great Yarmouth', 'Thames Ditton KT7',
       'Rugby CV21', 'Sheffield', 'Twickenham',
       'Be Amazed Media Ltd in London', 'Gillingham ME8',
       'Bailey Drive, Gillingham ME8', 'Gillingham', 'Halifax HX3',
       'London NW10',
       "Ray's House Business Centre, North Circular Road, London NW10",
       'Royal Tunbridge Wells TN4', 'Kingston upon Hull',
       '60 Bond Street, Kingston upon Hull', 'Brighton BN1',
       'NETbuilder in Brighton BN1', 'Guildford', 'Livingston',
       'Warwick CV34', 'Semcon House, Edgehill Drive, Warwick CV34',
       'Caterham', 'Bristol BS1', 'West End', 'Leeds LS1', 'Filey',
       'Peterborough PE1', 'Basingstoke', 'Nottingham NG11',
       'Witney OX28', 'Bournemouth BH7', 'Glasgow G2', 'Canary Wharf E14',
       'London EC4Y',
       '33489-Argyle Street, Glasgow, 311-345 Argyle Street, Glasgow, GB, G2 8LP, Glasgow G2',
       'Wembley HA9', '401- 403 High Rd, London, Wembley HA9',
       'Birmingham B7', 'Milton OX14',
       '21 Nuffield Way, Abingdon, Milton OX14', 'Manchester M4',
       'Liverpool L3', '20 Chapel Street, Liverpool L3', 'Norwich NR5',
       'Leeds LS15', 'Rickmansworth', 'Biggin Hill', 'London WC1N',
       '62 Doughty St, WC1N 2JZ, London, London WC1N', 'London EC4V',
       'Stirling FK8', 'Wallace House 17-21 Maxwell Place, Stirling FK8',
       'Vintners’ Place, 68 Upper Thames Street, London EC4V', 'Harwell',
       'Horsham RH12',
       '3rd Floor Springfield House Springfield Road, Horsham RH12',
       'London EC3A', '88 Leadenhall Street, London EC3A', 'Coventry',
       'Southall UB1', 'Farringdon', 'Farnborough GU14', 'Aberdeen AB23',
       'Newcastle upon Tyne NE6', 'Dundee', 'Chippenham SN14',
       'London EC1N', 'London EC4N', 'Birmingham B16', 'Edinburgh EH2',
       'Manchester M3', 'Steeple Langford', 'Hebden Bridge', 'Southport',
       "King's Lynn", 'Chard', 'Cockermouth', 'Carrickfergus',
       'Farnborough', 'London E1', 'Belgrave House, 76, London',
       'Cambridge CB2', 'Belper DE56', 'Kingston upon Hull HU3',
       'Newmarket CB8', 'Stoke-on-Trent', 'St Albans',
       'Floor 10, 1 Lyric Square, Hammersmith, London W6', 'Cornwall',
       'Wisley', 'Platform, New Station St, Leeds LS1',
       '122 Leadenhall Street, London', 'Luton LU1', 'Yeovil BA20',
       'Basildon SS14', 'Newcastle upon Tyne NE4', 'Bolton', 'London E14',
       'Hartlebury DY10', 'Unit 288, Hartlebury DY10', 'Penryn',
       'Portsmouth', 'Hounslow', 'Guiseley', 'London W1T', 'Colwyn Bay',
       'Bangor', 'Inverkeithing KY11', 'Budapest', 'Hursley',
       'Belfast BT1', 'Salisbury SP3', 'Derby DE24',
       '28 Bloomsbury Way, London', 'United Kingdom', 'Redruth',
       'Kensington W8', 'Preston', 'Newcastle upon Tyne', 'Havant',
       'Loughborough', 'London EC2V', 'Woking', 'Hammersmith',
       'Bolton BL3', 'London EC3R', 'Oxford OX3',
       'Wellington Square, Oxford', 'Belfast BT2',
       '1 Rathbone Square, London', '3 Carburton Street, London',
       'Northwich CW9', 'Kings Langley WD4', 'Peterborough',
       'Aberdeen AB11', 'Saint Ives',
       'Point Professional Recruitment Ltd in Saint Ives', 'North London',
       'Cardiff CF10', 'Sunderland', 'Lincoln', 'Esher', 'Hyde SK14',
       'Wales', 'London EC1V', 'Northampton NN4', 'London N1C',
       'Stevenage SG1', '79 New Oxford Street, London WC1A',
       'Sheffield S1', 'Derby DE1', '49 Canal Street, Derby DE1',
       'Oxford OX1', 'London EC2N', 'Dumfries', 'Theale', 'Skipton BD23',
       'Fulham SW6', 'Rhyl', 'Manchester M30', 'Stevenage', 'Surbiton',
       'Preston DT3', 'Birmingham B18', 'York',
       '269 Great Ancoats St, M4 7DB, Manchester, Manchester M4',
       'Gateshead NE10', 'Gateshead', 'Blackburn', 'Croydon CR9',
       'Winnersh', 'London EC3N', 'Nottingham', 'Bracknell RG12',
       'Lancaster', 'Oxford OX2', 'London EC2A', 'High Wycombe',
       'Warrington WA3', 'Dumfries DG1', 'Southend-on-Sea', 'London WC2N',
       '1-11 John Adam Street, London WC2N', 'Wokingham', 'Derwent',
       'Leeds LS10', 'Cardiff CF24', 'Staines-upon-Thames',
       'Milton Keynes', 'Leamington Spa', 'Lytham St. Annes',
       'London W1K', 'Prudhoe', 'Douglas', 'London N19',
       'Albert House, EC1V 9DD, London, London EC1V', 'Bristol BS2',
       'Histon CB24', 'London W1U', 'Harston CB22', 'Derby DE21',
       'Hemel Hempstead HP2', 'London EC1M', '6 Agar Street, London',
       'Epsom', 'Fife', 'Culham', 'Wainbody CV3', 'Colchester',
       'Manchester M2', 'Scotland', 'Quedgeley', 'Edinburgh EH3',
       'Hessle HU13', 'London E3', 'Sunderland SR3', 'Ilford IG6',
       'London EC2M', 'Elstree', 'Aberdeen', 'Cambridge CB1',
       'Brighouse HD6', 'Camberley', 'London EC1Y', 'Milton Keynes MK9',
       'Kidlington', 'Hook', 'Guildford GU1', 'Leicester LE4',
       'Aberdeen AB12', 'Middlesbrough TS1', 'Gaydon', 'Ipswich',
       'Manchester M16', '124 City Road, London EC1V',
       '1 Surtees Way, Surtees Business Park, Stockton-on-Tees',
       'V-Teck UK Ltd in Bridgend CF31', '160 Fleet Street, London',
       'Glasgow G3', 'Paddington', 'Capua HR Limited in London',
       'Soho W1F', 'College Lane, Hatfield',
       'Technical Resources in Bootle L30', '5 Box Road, Leicester',
       'Swadlincote DE11',
       'PLS Solicitors, Atlantic Street, Altrincham WA14',
       'PlayAIO ltd in London', '1 Shakespeare Way, Whitchurch SY13',
       'MLN Security in Barking IG11', 'Mercuna in Edinburgh', 'Tadley',
       'guykat solutions ltd. , Faraday Wharf, Holt Street, Birmingham B7',
       'Newbury', 'Unit 34, The Business Village, Cudworth, Barnsley S72',
       '103, Oxford House, Oxford Rd, Manchester M1',
       'Flat 3, 45 Albemarle Street, London W1S',
       'Barrow-In-Furness LA13', 'Henley on Thames',
       '130 Wood Street, London EC2V',
       'Oxbridge International College Ltd in Stevenage SG1', 'Richmond',
       '17 Limeharbour, London',
       '1st Floor Baird House, Liverpool Innovation Park, Merseyside, Liverpool L7',
       'Cambourne', 'Nottingham NG8', 'Welwyn Garden City',
       'The Minstry, 79-81 Borough Road, London SE1', 'Harrow',
       'Croydon CR0', 'Newcastle upon Tyne NE1', 'Doncaster',
       '15 Cotswold Road, Sutton SM2', 'Morley LS27', 'Bracknell',
       '4 Phoenix Square, Colchester CO4', 'Alderley Edge',
       '4it Recruitment Ltd in Manchester',
       'prosperIS Recruitment Ltd in Monmouth', 'Didcot', 'Telford TF7'],
      dtype=object)

In [35]:
test['location'].value_counts(sort=True).head(25)

location
London                 232
Remote                  86
Multiple Locations      71
Geneva                  36
Leeds                   32
Cambridge               31
Manchester              25
London EC4N             20
Bristol                 15
Bridgend                14
Budapest                12
Edinburgh               12
Birmingham              10
Barrow-in-Furness        8
Oxford                   8
Douglas                  8
Reading                  7
Southampton              7
Glasgow                  7
Bollington               6
Liverpool                6
London W1T               5
Newcastle upon Tyne      5
Stafford                 5
Manchester M4            5
Name: count, dtype: int64

In [38]:
geolocator = Nominatim(user_agent='msc_project')
geocode = RateLimiter(geolocator.geocode, min_delay_seconds=1)

In [ ]:
def get_full_location(location, geocode):
    """Returns the full address, latitude and longitude for the given location"""
    if location in ('Remote', 'Multiple Locations'):
        return None, None, None
    else:
        full_loc = geocode(location)
        lat = full_loc.latitude
        long = full_loc.longitude

In [39]:
test['full_loc'] = test['location'].apply(geocode)

In [45]:
test[['location', 'full_loc']].tail(30)

,location,full_loc
id,,
1867,London EC3N,"(Royal Mail, Crosswall, Aldgate, City of Londo..."
1872,London,"(London, Greater London, England, United Kingd..."
1873,Remote,"(Remote, Coos County, Oregon, United States, (..."
1874,Nottingham NG8,"(NG8 285D, Newport Drive, Old Basford, Bulwell..."
1876,United Kingdom,"(United Kingdom, (54.7023545, -3.2765753))"
1881,Welwyn Garden City,"(Welwyn Garden City, Welwyn Hatfield, Hertford..."
1882,"The Minstry, 79-81 Borough Road, London SE1",None
1884,Harrow,"(London Borough of Harrow, London, Greater Lon..."
1885,Croydon CR0,"(Art & Craft CR0, 46, Surrey Street, Broad Gre..."
1889,Newcastle upon Tyne NE1,"(Royal Mail, Northumberland Street, Haymarket,..."
1892,London,"(London, Greater London, England, United Kingd..."
1893,Birmingham,"(Birmingham, West Midlands Combined Authority,..."
1894,London,"(London, Greater London, England, United Kingd..."
1897,Bristol,"(Bristol, City of Bristol, West of England, En..."
1900,Preston,"(Preston, Lancashire, England, United Kingdom,..."
1901,Remote,"(Remote, Coos County, Oregon, United States, (..."
1909,Doncaster,"(Doncaster, South Yorkshire, England, United K..."
1912,Cardiff,"(Cardiff, Cymru / Wales, CF10 2AF, United King..."
1914,"15 Cotswold Road, Sutton SM2",None
1916,Morley LS27,"(LS27 869, Queen Street, Bruntcliffe, Morley, ..."
1917,Bracknell,"(Bracknell, Bracknell Forest, England, United ..."
1920,"4 Phoenix Square, Colchester CO4",None
1921,Guildford,"(Guildford, Surrey, England, United Kingdom, (..."
1922,Alderley Edge,"(Alderley Edge, Cheshire East, England, United..."
1923,Remote,"(Remote, Coos County, Oregon, United States, (..."
1926,4it Recruitment Ltd in Manchester,None
1927,prosperIS Recruitment Ltd in Monmouth,None
1928,Didcot,"(Didcot, East Hagbourne, South Oxfordshire, Ox..."
1929,Telford TF7,"(TF7 136D, Ironbridge Road, Woodside, Madeley,..."
1933,Chiswick,"(Chiswick, Greater London, England, W4 5PS, Un..."