### Import Packages

In [2]:
import pandas as pd

In [3]:
DATA_PATH = '../entities/clean/multihash_maxout_vec_ents_clean.csv'
OUTPUT_PATH = ''

In [4]:
df = pd.read_csv(DATA_PATH)

In [5]:
df['timestamp'] = pd.to_datetime(df['timestamp'])

In [6]:
df['year'] = df['timestamp'].dt.to_period('Y')

In [7]:
df['month'] = df['timestamp'].dt.to_period('M')

In [8]:
df['week'] = df['timestamp'].dt.to_period('W')

In [9]:
df.head()

,Unnamed: 0,timestamp,ent,type,new_ent,year,month,week
0,0,2024-06-28,"design, development and manufacture of these p...",H_SKILL,"DESIGN, DEVELOPMENT AND MANUFACTURE OF THESE P...",2024,2024-06,2024-06-24/2024-06-30
1,0,2024-06-28,C,LANG_FRAM,C,2024,2024-06,2024-06-24/2024-06-30
2,0,2024-06-28,Python,LANG_FRAM,PYTHON,2024,2024-06,2024-06-24/2024-06-30
3,0,2024-06-28,work independently,S_SKILL,INDEPENDENT WORKING,2024,2024-06,2024-06-24/2024-06-30
4,0,2024-06-28,passionate,S_SKILL,PASSION AND ENTHUSIASM,2024,2024-06,2024-06-24/2024-06-30

In [10]:
totals = df['timestamp'].value_counts().to_dict()
year_totals = df['year'].value_counts().to_dict()
month_totals = df['month'].value_counts().to_dict()
week_totals = df['week'].value_counts().to_dict()
print(totals)
print(year_totals)
print(month_totals)
print(week_totals)

{Timestamp('2024-06-28 00:00:00'): 19234, Timestamp('2024-07-05 00:00:00'): 4869}
{Period('2024', 'A-DEC'): 24103}
{Period('2024-06', 'M'): 19234, Period('2024-07', 'M'): 4869}
{Period('2024-06-24/2024-06-30', 'W-SUN'): 19234, Period('2024-07-01/2024-07-07', 'W-SUN'): 4869}

In [11]:
year_counts = df[['year', 'new_ent', 'type']].value_counts()
month_counts = df[['month', 'new_ent', 'type']].value_counts()
week_counts = df[['week', 'new_ent', 'type']].value_counts()

In [64]:
pd.DataFrame(week_counts).sort_index()

                                                                    count
week                  new_ent                            type
2024-06-24/2024-06-30 ) MODELLING                        H_SKILL        1
                      *, *383                            S_SKILL        1
                      *2024                              S_SKILL        1
                      , INSPIRING, AND THOUGHT           S_SKILL        1
                      , OR PROVEN DEVELOPMENT EXPERIENCE S_SKILL        1
...                                                                   ...
2024-07-01/2024-07-07 XCODE                              LANG_FRAM      1
                      XML                                LANG_FRAM      1
                      XSLT                               LANG_FRAM      1
                      ZEPHYR                             LANG_FRAM      1
                      · PROGRAMMING                      LANG_FRAM      1

[7773 rows x 1 columns]

In [12]:
pd.DataFrame(year_counts)

                                                                     count
year new_ent                                            type
2024 COLLABORATION AND TEAMWORK                         S_SKILL       1147
     COMMUNICATION                                      S_SKILL        854
     ANALYTICAL THINKING AND PROBLEM SOLVING            S_SKILL        820
     CLOUD (GC, AWS, AZURE, ETC.)                       LANG_FRAM      804
     BACHELOR'S                                         REQUIREMENT    760
...                                                                    ...
     EXPERIENCE IN THE DESIGN, INTEGRATION AND ROLL ... H_SKILL          1
     EXPERIENCE IN TECHNOLOGY ROLES SUCH AS TECHNOLO... H_SKILL          1
     EXPERIENCE IN TECHNOLOGY PRODUCT MANAGEMENT        H_SKILL          1
     EXPERIENCE IN SYSTEM-LEVEL CODE OPTIMISATION       H_SKILL          1
     ● VISUALISATION                                    H_SKILL          1

[6956 rows x 1 columns]

In [13]:
year_df = pd.DataFrame(year_counts).reset_index()

In [14]:
year_df

,year,new_ent,type,count
0,2024,COLLABORATION AND TEAMWORK,S_SKILL,1147
1,2024,COMMUNICATION,S_SKILL,854
2,2024,ANALYTICAL THINKING AND PROBLEM SOLVING,S_SKILL,820
3,2024,"CLOUD (GC, AWS, AZURE, ETC.)",LANG_FRAM,804
4,2024,BACHELOR'S,REQUIREMENT,760
...,...,...,...,...
6951,2024,"EXPERIENCE IN THE DESIGN, INTEGRATION AND ROLL...",H_SKILL,1
6952,2024,EXPERIENCE IN TECHNOLOGY ROLES SUCH AS TECHNOL...,H_SKILL,1
6953,2024,EXPERIENCE IN TECHNOLOGY PRODUCT MANAGEMENT,H_SKILL,1
6954,2024,EXPERIENCE IN SYSTEM-LEVEL CODE OPTIMISATION,H_SKILL,1
6955,2024,● VISUALISATION,H_SKILL,1

In [15]:
year_df['total'] = year_df['year'].map(year_totals)

In [16]:
year_df['proportion_perc'] = (year_df['count'] / year_df['total']) * 100

In [17]:
year_df.drop(columns=['total'], inplace=True)

In [18]:
year_df.head(20)

,year,new_ent,type,count,proportion_perc
0,2024,COLLABORATION AND TEAMWORK,S_SKILL,1147,4.758744
1,2024,COMMUNICATION,S_SKILL,854,3.543127
2,2024,ANALYTICAL THINKING AND PROBLEM SOLVING,S_SKILL,820,3.402066
3,2024,"CLOUD (GC, AWS, AZURE, ETC.)",LANG_FRAM,804,3.335684
4,2024,BACHELOR'S,REQUIREMENT,760,3.153134
5,2024,AI,LANG_FRAM,651,2.700909
6,2024,PYTHON,LANG_FRAM,423,1.754968
7,2024,MACHINE LEARNING,LANG_FRAM,418,1.734224
8,2024,PASSION AND ENTHUSIASM,S_SKILL,348,1.443804
9,2024,MASTER'S,REQUIREMENT,258,1.070406
10,2024,SQL,LANG_FRAM,257,1.066257
11,2024,DEVELOPMENT,H_SKILL,227,0.941791
12,2024,CODING/PROGRAMMING,H_SKILL,225,0.933494
13,2024,TESTING,H_SKILL,220,0.912749
14,2024,DATA ANALYSIS,H_SKILL,216,0.896154
15,2024,"APIS (SOAP, REST, ETC.)",LANG_FRAM,180,0.746795
16,2024,WILLING TO LEARN,S_SKILL,163,0.676264
17,2024,AGILE,H_SKILL,162,0.672116
18,2024,ATTENTION TO DETAIL,S_SKILL,159,0.659669
19,2024,INDEPENDENT WORKING,S_SKILL,153,0.634776

In [19]:
year_df['perc_change'] = year_df.groupby(['new_ent', 'type'])['proportion_perc'].pct_change()

In [20]:
year_df.head(20)

,year,new_ent,type,count,proportion_perc,perc_change
0,2024,COLLABORATION AND TEAMWORK,S_SKILL,1147,4.758744,NaN
1,2024,COMMUNICATION,S_SKILL,854,3.543127,NaN
2,2024,ANALYTICAL THINKING AND PROBLEM SOLVING,S_SKILL,820,3.402066,NaN
3,2024,"CLOUD (GC, AWS, AZURE, ETC.)",LANG_FRAM,804,3.335684,NaN
4,2024,BACHELOR'S,REQUIREMENT,760,3.153134,NaN
5,2024,AI,LANG_FRAM,651,2.700909,NaN
6,2024,PYTHON,LANG_FRAM,423,1.754968,NaN
7,2024,MACHINE LEARNING,LANG_FRAM,418,1.734224,NaN
8,2024,PASSION AND ENTHUSIASM,S_SKILL,348,1.443804,NaN
9,2024,MASTER'S,REQUIREMENT,258,1.070406,NaN
10,2024,SQL,LANG_FRAM,257,1.066257,NaN
11,2024,DEVELOPMENT,H_SKILL,227,0.941791,NaN
12,2024,CODING/PROGRAMMING,H_SKILL,225,0.933494,NaN
13,2024,TESTING,H_SKILL,220,0.912749,NaN
14,2024,DATA ANALYSIS,H_SKILL,216,0.896154,NaN
15,2024,"APIS (SOAP, REST, ETC.)",LANG_FRAM,180,0.746795,NaN
16,2024,WILLING TO LEARN,S_SKILL,163,0.676264,NaN
17,2024,AGILE,H_SKILL,162,0.672116,NaN
18,2024,ATTENTION TO DETAIL,S_SKILL,159,0.659669,NaN
19,2024,INDEPENDENT WORKING,S_SKILL,153,0.634776,NaN

In [21]:
year_df['perc_change'].fillna(0, inplace=True)

In [22]:
year_df.head()

,year,new_ent,type,count,proportion_perc,perc_change
0,2024,COLLABORATION AND TEAMWORK,S_SKILL,1147,4.758744,0.0
1,2024,COMMUNICATION,S_SKILL,854,3.543127,0.0
2,2024,ANALYTICAL THINKING AND PROBLEM SOLVING,S_SKILL,820,3.402066,0.0
3,2024,"CLOUD (GC, AWS, AZURE, ETC.)",LANG_FRAM,804,3.335684,0.0
4,2024,BACHELOR'S,REQUIREMENT,760,3.153134,0.0

### Visualisations

In [23]:
import plotly.express as px

In [65]:
month_df = pd.read_csv('../trend_data/monthly_trend.csv')

In [66]:
month_df.loc[month_df['new_ent'] == 'DATA GOVERNANCE']

,Unnamed: 0,month,new_ent,type,count,proportion_perc,perc_change
1216,1216,2024-06,DATA GOVERNANCE,H_SKILL,6,0.031195,0.000000
6270,6270,2024-07,DATA GOVERNANCE,H_SKILL,8,0.164305,4.267064

In [67]:
top_increase = month_df.loc[(month_df['perc_change'] > 0) & (month_df['count'] > 5)].sort_values(by='perc_change', ascending=False)

In [68]:
top_decrease = month_df.loc[(month_df['perc_change'] < 0) & (month_df['count'] > 5)].sort_values(by='perc_change', ascending=True)

In [71]:
top_increase

,Unnamed: 0,month,new_ent,type,count,proportion_perc,perc_change
6878,6878,2024-07,LARAVEL,LANG_FRAM,10,0.205381,8.875745
6270,6270,2024-07,DATA GOVERNANCE,H_SKILL,8,0.164305,4.267064
7234,7234,2024-07,PROJECT MANAGEMENT,S_SKILL,6,0.123229,3.740357
7007,7007,2024-07,MICROSOFT EXCEL,LANG_FRAM,6,0.123229,2.950298
7235,7235,2024-07,PROJECT MANAGEMENT SKILLS,S_SKILL,7,0.143767,2.456511
6248,6248,2024-07,CURIOSITY,S_SKILL,8,0.164305,2.160238
7721,7721,2024-07,WORK UNDER PRESSURE,S_SKILL,6,0.123229,1.962723
7449,7449,2024-07,SQL SERVER,LANG_FRAM,9,0.184843,1.734822
7377,7377,2024-07,SCRUM,H_SKILL,6,0.123229,1.633532
6543,6543,2024-07,EVALUATE,S_SKILL,12,0.246457,1.370179
7495,7495,2024-07,TABLEAU,LANG_FRAM,20,0.410762,1.323705
7196,7196,2024-07,PRIORITISE,S_SKILL,11,0.225919,1.172664
7435,7435,2024-07,SPARK,LANG_FRAM,7,0.143767,0.975149
6899,6899,2024-07,LLM,LANG_FRAM,15,0.308071,0.911434
7402,7402,2024-07,SHAREPOINT,LANG_FRAM,10,0.205381,0.881094
6901,6901,2024-07,LLMS,LANG_FRAM,9,0.184843,0.777634
7162,7162,2024-07,POWER BI,LANG_FRAM,29,0.595605,0.660270
6443,6443,2024-07,DEVELOPMENT,H_SKILL,63,1.293900,0.517492
6308,6308,2024-07,DATA VISUALISATION,H_SKILL,12,0.246457,0.481362
6755,6755,2024-07,IMPLEMENTATION,H_SKILL,17,0.349148,0.459893
5956,5956,2024-07,AI,LANG_FRAM,175,3.594167,0.452315
6610,6610,2024-07,GCP,LANG_FRAM,8,0.164305,0.436472
6797,6797,2024-07,INTERPERSONAL SKILLS,S_SKILL,22,0.451838,0.401719
6480,6480,2024-07,DYNAMIC,S_SKILL,6,0.123229,0.394223
7447,7447,2024-07,SQL,LANG_FRAM,67,1.376053,0.393000
7532,7532,2024-07,TIME MANAGEMENT,S_SKILL,26,0.533991,0.387942
7049,7049,2024-07,MYSQL,LANG_FRAM,8,0.164305,0.374017
6446,6446,2024-07,DEVOPS,H_SKILL,20,0.410762,0.362172
6263,6263,2024-07,DATA ANALYSIS,H_SKILL,55,1.129595,0.349481
6980,6980,2024-07,MASTER'S,REQUIREMENT,63,1.293900,0.276250
6595,6595,2024-07,FLEXIBLE,S_SKILL,16,0.328610,0.264095
7103,7103,2024-07,ORGANISED,S_SKILL,9,0.184843,0.225954
7705,7705,2024-07,WORD,LANG_FRAM,8,0.164305,0.215476
6614,6614,2024-07,GENAI,LANG_FRAM,8,0.164305,0.215476
6148,6148,2024-07,CODE REVIEWS,H_SKILL,7,0.143767,0.202265
6021,6021,2024-07,ATTENTION TO DETAIL,S_SKILL,37,0.759910,0.198041
5984,5984,2024-07,ANALYTICAL THINKING AND PROBLEM SOLVING,S_SKILL,190,3.902239,0.191360
5955,5955,2024-07,AGILE,H_SKILL,37,0.759910,0.169288
6929,6929,2024-07,MAINTENANCE,H_SKILL,7,0.143767,0.152170
6108,6108,2024-07,C++,LANG_FRAM,31,0.636681,0.144479
6883,6883,2024-07,LEADERSHIP,S_SKILL,32,0.657219,0.128657
6162,6162,2024-07,COMMUNICATION,S_SKILL,187,3.840624,0.107505
7681,7681,2024-07,WILLING TO LEARN,S_SKILL,35,0.718833,0.080160
6806,6806,2024-07,IOS,LANG_FRAM,6,0.123229,0.077354
6249,6249,2024-07,CURIOUS,S_SKILL,9,0.184843,0.077354
6127,6127,2024-07,CI/CD,H_SKILL,15,0.308071,0.058115
5900,5900,2024-07,.NET,LANG_FRAM,12,0.246457,0.053413
7514,7514,2024-07,TENSORFLOW,LANG_FRAM,9,0.184843,0.045667
7060,7060,2024-07,NLP,H_SKILL,20,0.410762,0.039552
6037,6037,2024-07,BACHELOR'S,REQUIREMENT,157,3.224481,0.028519
7298,7298,2024-07,R,LANG_FRAM,14,0.287533,0.024151
7140,7140,2024-07,PHP,LANG_FRAM,8,0.164305,0.019432

In [70]:
top_decrease

,Unnamed: 0,month,new_ent,type,count,proportion_perc,perc_change
6894,6894,2024-07,LINUX,LANG_FRAM,8,0.164305,-0.717836
6104,6104,2024-07,C,LANG_FRAM,9,0.184843,-0.586597
6675,6675,2024-07,HTML,LANG_FRAM,8,0.164305,-0.521176
6875,6875,2024-07,KUBERNETES,LANG_FRAM,7,0.143767,-0.497235
6821,6821,2024-07,JAVASCRIPT,LANG_FRAM,14,0.287533,-0.483139
7139,7139,2024-07,PHD,REQUIREMENT,10,0.205381,-0.473294
7568,7568,2024-07,TROUBLESHOOTING,H_SKILL,10,0.205381,-0.466176
7694,7694,2024-07,WINDOWS,LANG_FRAM,7,0.143767,-0.411658
7360,7360,2024-07,SAP,LANG_FRAM,7,0.143767,-0.398868
6002,6002,2024-07,"APIS (SOAP, REST, ETC.)",LANG_FRAM,24,0.492914,-0.392262
6820,6820,2024-07,JAVA,LANG_FRAM,20,0.410762,-0.362855
7518,7518,2024-07,TESTING,H_SKILL,31,0.636681,-0.352068
7056,7056,2024-07,NETWORKING,H_SKILL,11,0.225919,-0.341617
6463,6463,2024-07,DOCKER,LANG_FRAM,7,0.143767,-0.341617
5902,5902,2024-07,2:1,REQUIREMENT,18,0.369686,-0.335464
6473,6473,2024-07,DRIVEN AND MOTIVATED,S_SKILL,17,0.349148,-0.335098
6243,6243,2024-07,CSS,LANG_FRAM,12,0.246457,-0.302889
7121,7121,2024-07,PASSION AND ENTHUSIASM,S_SKILL,53,1.088519,-0.290285
7662,7662,2024-07,"VERSION CONTROL (GIT, GITHUB, GITLAB, ETC.)",LANG_FRAM,18,0.369686,-0.288946
6357,6357,2024-07,DEPLOYMENT,H_SKILL,19,0.390224,-0.278311
7510,7510,2024-07,TECHNICAL SUPPORT,H_SKILL,9,0.184843,-0.274435
7203,7203,2024-07,PROACTIVE,S_SKILL,14,0.287533,-0.272314
6351,6351,2024-07,DEGREE,REQUIREMENT,25,0.513452,-0.209940
7171,7171,2024-07,POWERPOINT,LANG_FRAM,6,0.123229,-0.182697
7280,7280,2024-07,PYTHON,LANG_FRAM,74,1.519819,-0.162401
6139,6139,2024-07,"CLOUD (GC, AWS, AZURE, ETC.)",LANG_FRAM,146,2.998562,-0.123490
7281,7281,2024-07,PYTORCH,LANG_FRAM,8,0.164305,-0.122156
6105,6105,2024-07,C#,LANG_FRAM,19,0.390224,-0.116992
6776,6776,2024-07,INDEPENDENT WORKING,S_SKILL,28,0.575067,-0.115133
6824,6824,2024-07,JIRA,LANG_FRAM,7,0.143767,-0.078264
6264,6264,2024-07,DATA ANALYTICS,H_SKILL,7,0.143767,-0.078264
6547,6547,2024-07,EXCEL,LANG_FRAM,15,0.308071,-0.074149
6152,6152,2024-07,CODING/PROGRAMMING,H_SKILL,43,0.883138,-0.066688
6154,6154,2024-07,COLLABORATION AND TEAMWORK,S_SKILL,228,4.682686,-0.019948
7150,7150,2024-07,PORTFOLIO,REQUIREMENT,9,0.184843,-0.012426
7009,7009,2024-07,MICROSOFT OFFICE,LANG_FRAM,7,0.143767,-0.012426
6910,6910,2024-07,MACHINE LEARNING,LANG_FRAM,84,1.725200,-0.006512

In [25]:
px.bar(year_df., )

SyntaxError: invalid syntax (1893653404.py, line 1)