### Import Packages

In [2]:
import pandas as pd

In [3]:
DATA_PATH = '../entities/clean/multihash_maxout_vec_ents_clean.csv'
OUTPUT_PATH = ''

In [4]:
df = pd.read_csv(DATA_PATH)

In [5]:
df['timestamp'] = pd.to_datetime(df['timestamp'])

In [6]:
df['year'] = df['timestamp'].dt.to_period('Y')

In [7]:
df['month'] = df['timestamp'].dt.to_period('M')

In [8]:
df['week'] = df['timestamp'].dt.to_period('W')

In [9]:
df.head()

,Unnamed: 0,timestamp,ent,type,new_ent,year,month,week
0,0,2024-06-28,"design, development and manufacture of these p...",H_SKILL,"DESIGN, DEVELOPMENT AND MANUFACTURE OF THESE P...",2024,2024-06,2024-06-24/2024-06-30
1,0,2024-06-28,C,LANG_FRAM,C,2024,2024-06,2024-06-24/2024-06-30
2,0,2024-06-28,Python,LANG_FRAM,PYTHON,2024,2024-06,2024-06-24/2024-06-30
3,0,2024-06-28,work independently,S_SKILL,INDEPENDENT WORKING,2024,2024-06,2024-06-24/2024-06-30
4,0,2024-06-28,passionate,S_SKILL,PASSION AND ENTHUSIASM,2024,2024-06,2024-06-24/2024-06-30

In [10]:
totals = df['timestamp'].value_counts().to_dict()
year_totals = df['year'].value_counts().to_dict()
month_totals = df['month'].value_counts().to_dict()
week_totals = df['week'].value_counts().to_dict()
print(totals)
print(year_totals)
print(month_totals)
print(week_totals)

{Timestamp('2024-06-28 00:00:00'): 19234, Timestamp('2024-07-05 00:00:00'): 4869}
{Period('2024', 'A-DEC'): 24103}
{Period('2024-06', 'M'): 19234, Period('2024-07', 'M'): 4869}
{Period('2024-06-24/2024-06-30', 'W-SUN'): 19234, Period('2024-07-01/2024-07-07', 'W-SUN'): 4869}

In [11]:
year_counts = df[['year', 'new_ent', 'type']].value_counts()
month_counts = df[['month', 'new_ent', 'type']].value_counts()
week_counts = df[['week', 'new_ent', 'type']].value_counts()

In [12]:
pd.DataFrame(year_counts)

                                                                     count
year new_ent                                            type
2024 COLLABORATION AND TEAMWORK                         S_SKILL       1147
     COMMUNICATION                                      S_SKILL        854
     ANALYTICAL THINKING AND PROBLEM SOLVING            S_SKILL        820
     CLOUD (GC, AWS, AZURE, ETC.)                       LANG_FRAM      804
     BACHELOR'S                                         REQUIREMENT    760
...                                                                    ...
     EXPERIENCE IN THE DESIGN, INTEGRATION AND ROLL ... H_SKILL          1
     EXPERIENCE IN TECHNOLOGY ROLES SUCH AS TECHNOLO... H_SKILL          1
     EXPERIENCE IN TECHNOLOGY PRODUCT MANAGEMENT        H_SKILL          1
     EXPERIENCE IN SYSTEM-LEVEL CODE OPTIMISATION       H_SKILL          1
     ● VISUALISATION                                    H_SKILL          1

[6956 rows x 1 columns]

In [13]:
year_df = pd.DataFrame(year_counts).reset_index()

In [14]:
year_df

,year,new_ent,type,count
0,2024,COLLABORATION AND TEAMWORK,S_SKILL,1147
1,2024,COMMUNICATION,S_SKILL,854
2,2024,ANALYTICAL THINKING AND PROBLEM SOLVING,S_SKILL,820
3,2024,"CLOUD (GC, AWS, AZURE, ETC.)",LANG_FRAM,804
4,2024,BACHELOR'S,REQUIREMENT,760
...,...,...,...,...
6951,2024,"EXPERIENCE IN THE DESIGN, INTEGRATION AND ROLL...",H_SKILL,1
6952,2024,EXPERIENCE IN TECHNOLOGY ROLES SUCH AS TECHNOL...,H_SKILL,1
6953,2024,EXPERIENCE IN TECHNOLOGY PRODUCT MANAGEMENT,H_SKILL,1
6954,2024,EXPERIENCE IN SYSTEM-LEVEL CODE OPTIMISATION,H_SKILL,1
6955,2024,● VISUALISATION,H_SKILL,1

In [15]:
year_df['total'] = year_df['year'].map(year_totals)

In [16]:
year_df['proportion_perc'] = (year_df['count'] / year_df['total']) * 100

In [17]:
year_df.drop(columns=['total'], inplace=True)

In [18]:
year_df.head(20)

,year,new_ent,type,count,proportion_perc
0,2024,COLLABORATION AND TEAMWORK,S_SKILL,1147,4.758744
1,2024,COMMUNICATION,S_SKILL,854,3.543127
2,2024,ANALYTICAL THINKING AND PROBLEM SOLVING,S_SKILL,820,3.402066
3,2024,"CLOUD (GC, AWS, AZURE, ETC.)",LANG_FRAM,804,3.335684
4,2024,BACHELOR'S,REQUIREMENT,760,3.153134
5,2024,AI,LANG_FRAM,651,2.700909
6,2024,PYTHON,LANG_FRAM,423,1.754968
7,2024,MACHINE LEARNING,LANG_FRAM,418,1.734224
8,2024,PASSION AND ENTHUSIASM,S_SKILL,348,1.443804
9,2024,MASTER'S,REQUIREMENT,258,1.070406
10,2024,SQL,LANG_FRAM,257,1.066257
11,2024,DEVELOPMENT,H_SKILL,227,0.941791
12,2024,CODING/PROGRAMMING,H_SKILL,225,0.933494
13,2024,TESTING,H_SKILL,220,0.912749
14,2024,DATA ANALYSIS,H_SKILL,216,0.896154
15,2024,"APIS (SOAP, REST, ETC.)",LANG_FRAM,180,0.746795
16,2024,WILLING TO LEARN,S_SKILL,163,0.676264
17,2024,AGILE,H_SKILL,162,0.672116
18,2024,ATTENTION TO DETAIL,S_SKILL,159,0.659669
19,2024,INDEPENDENT WORKING,S_SKILL,153,0.634776

In [19]:
year_df['perc_change'] = year_df.groupby(['new_ent', 'type'])['proportion_perc'].pct_change()

In [20]:
year_df.head(20)

,year,new_ent,type,count,proportion_perc,perc_change
0,2024,COLLABORATION AND TEAMWORK,S_SKILL,1147,4.758744,NaN
1,2024,COMMUNICATION,S_SKILL,854,3.543127,NaN
2,2024,ANALYTICAL THINKING AND PROBLEM SOLVING,S_SKILL,820,3.402066,NaN
3,2024,"CLOUD (GC, AWS, AZURE, ETC.)",LANG_FRAM,804,3.335684,NaN
4,2024,BACHELOR'S,REQUIREMENT,760,3.153134,NaN
5,2024,AI,LANG_FRAM,651,2.700909,NaN
6,2024,PYTHON,LANG_FRAM,423,1.754968,NaN
7,2024,MACHINE LEARNING,LANG_FRAM,418,1.734224,NaN
8,2024,PASSION AND ENTHUSIASM,S_SKILL,348,1.443804,NaN
9,2024,MASTER'S,REQUIREMENT,258,1.070406,NaN
10,2024,SQL,LANG_FRAM,257,1.066257,NaN
11,2024,DEVELOPMENT,H_SKILL,227,0.941791,NaN
12,2024,CODING/PROGRAMMING,H_SKILL,225,0.933494,NaN
13,2024,TESTING,H_SKILL,220,0.912749,NaN
14,2024,DATA ANALYSIS,H_SKILL,216,0.896154,NaN
15,2024,"APIS (SOAP, REST, ETC.)",LANG_FRAM,180,0.746795,NaN
16,2024,WILLING TO LEARN,S_SKILL,163,0.676264,NaN
17,2024,AGILE,H_SKILL,162,0.672116,NaN
18,2024,ATTENTION TO DETAIL,S_SKILL,159,0.659669,NaN
19,2024,INDEPENDENT WORKING,S_SKILL,153,0.634776,NaN

In [21]:
year_df['perc_change'].fillna(0, inplace=True)

In [22]:
year_df.head()

,year,new_ent,type,count,proportion_perc,perc_change
0,2024,COLLABORATION AND TEAMWORK,S_SKILL,1147,4.758744,0.0
1,2024,COMMUNICATION,S_SKILL,854,3.543127,0.0
2,2024,ANALYTICAL THINKING AND PROBLEM SOLVING,S_SKILL,820,3.402066,0.0
3,2024,"CLOUD (GC, AWS, AZURE, ETC.)",LANG_FRAM,804,3.335684,0.0
4,2024,BACHELOR'S,REQUIREMENT,760,3.153134,0.0

### Visualisations

In [23]:
import plotly.express as px

In [28]:
month_df = pd.read_csv('../trend_data/monthly_trend.csv')

FileNotFoundError: [Errno 2] No such file or directory: '../trend_data/monthlytrend.csv'

In [24]:
top_movers = year_df.loc[year_df['perc_change'] > 0].sort_values(by='perc_change').head(5)

In [26]:
top_movers

Empty DataFrame
Columns: [year, new_ent, type, count, proportion_perc, perc_change]
Index: []

In [25]:
px.bar(year_df., )

SyntaxError: invalid syntax (1893653404.py, line 1)