### Import Packages

In [1]:
import pandas as pd

In [2]:
DATA_PATH = '../entities/clean/multihash_maxout_vec_ents_clean.csv'

In [3]:
df = pd.read_csv(DATA_PATH)

In [4]:
df['timestamp'] = pd.to_datetime(df['timestamp'])

In [65]:
df['year'] = df['timestamp'].dt.year

In [6]:
df['month'] = df['timestamp'].dt.to_period('M')

In [7]:
df['week'] = df['timestamp'].dt.to_period('W')

In [66]:
df.head()

,Unnamed: 0,timestamp,ent,type,new_ent,year,month,week
0,0,2024-06-28,"design, development and manufacture of these p...",H_SKILL,"DESIGN, DEVELOPMENT AND MANUFACTURE OF THESE P...",2024,2024-06,2024-06-24/2024-06-30
1,0,2024-06-28,C,LANG_FRAM,C,2024,2024-06,2024-06-24/2024-06-30
2,0,2024-06-28,Python,LANG_FRAM,PYTHON,2024,2024-06,2024-06-24/2024-06-30
3,0,2024-06-28,work independently,S_SKILL,INDEPENDENT WORKING,2024,2024-06,2024-06-24/2024-06-30
4,0,2024-06-28,passionate,S_SKILL,PASSION AND ENTHUSIASM,2024,2024-06,2024-06-24/2024-06-30

In [9]:
totals = df['timestamp'].value_counts().to_dict()
year_totals = df['year'].value_counts().to_dict()
month_totals = df['month'].value_counts().to_dict()
week_totals = df['week'].value_counts().to_dict()
print(totals)
print(year_totals)
print(month_totals)
print(week_totals)

{Timestamp('2024-06-28 00:00:00'): 19234, Timestamp('2024-07-05 00:00:00'): 4869}
{Period('2024', 'A-DEC'): 24103}
{Period('2024-06', 'M'): 19234, Period('2024-07', 'M'): 4869}
{Period('2024-06-24/2024-06-30', 'W-SUN'): 19234, Period('2024-07-01/2024-07-07', 'W-SUN'): 4869}

In [10]:
year_counts = df[['year', 'new_ent', 'type']].value_counts()
month_counts = df[['month', 'new_ent', 'type']].value_counts()
week_counts = df[['week', 'new_ent', 'type']].value_counts()

In [11]:
pd.DataFrame(week_counts).sort_index()

                                                                    count
week                  new_ent                            type
2024-06-24/2024-06-30 ) MODELLING                        H_SKILL        1
                      *, *383                            S_SKILL        1
                      *2024                              S_SKILL        1
                      , INSPIRING, AND THOUGHT           S_SKILL        1
                      , OR PROVEN DEVELOPMENT EXPERIENCE S_SKILL        1
...                                                                   ...
2024-07-01/2024-07-07 XCODE                              LANG_FRAM      1
                      XML                                LANG_FRAM      1
                      XSLT                               LANG_FRAM      1
                      ZEPHYR                             LANG_FRAM      1
                      · PROGRAMMING                      LANG_FRAM      1

[7773 rows x 1 columns]

In [12]:
pd.DataFrame(year_counts)

                                                                     count
year new_ent                                            type
2024 COLLABORATION AND TEAMWORK                         S_SKILL       1147
     COMMUNICATION                                      S_SKILL        854
     ANALYTICAL THINKING AND PROBLEM SOLVING            S_SKILL        820
     CLOUD (GC, AWS, AZURE, ETC.)                       LANG_FRAM      804
     BACHELOR'S                                         REQUIREMENT    760
...                                                                    ...
     EXPERIENCE IN THE DESIGN, INTEGRATION AND ROLL ... H_SKILL          1
     EXPERIENCE IN TECHNOLOGY ROLES SUCH AS TECHNOLO... H_SKILL          1
     EXPERIENCE IN TECHNOLOGY PRODUCT MANAGEMENT        H_SKILL          1
     EXPERIENCE IN SYSTEM-LEVEL CODE OPTIMISATION       H_SKILL          1
     ● VISUALISATION                                    H_SKILL          1

[6956 rows x 1 columns]

In [13]:
year_df = pd.DataFrame(year_counts).reset_index()

In [14]:
year_df

,year,new_ent,type,count
0,2024,COLLABORATION AND TEAMWORK,S_SKILL,1147
1,2024,COMMUNICATION,S_SKILL,854
2,2024,ANALYTICAL THINKING AND PROBLEM SOLVING,S_SKILL,820
3,2024,"CLOUD (GC, AWS, AZURE, ETC.)",LANG_FRAM,804
4,2024,BACHELOR'S,REQUIREMENT,760
...,...,...,...,...
6951,2024,"EXPERIENCE IN THE DESIGN, INTEGRATION AND ROLL...",H_SKILL,1
6952,2024,EXPERIENCE IN TECHNOLOGY ROLES SUCH AS TECHNOL...,H_SKILL,1
6953,2024,EXPERIENCE IN TECHNOLOGY PRODUCT MANAGEMENT,H_SKILL,1
6954,2024,EXPERIENCE IN SYSTEM-LEVEL CODE OPTIMISATION,H_SKILL,1
6955,2024,● VISUALISATION,H_SKILL,1

In [15]:
year_df['total'] = year_df['year'].map(year_totals)

In [16]:
year_df['proportion_perc'] = (year_df['count'] / year_df['total']) * 100

In [17]:
year_df.drop(columns=['total'], inplace=True)

In [18]:
year_df.head(20)

,year,new_ent,type,count,proportion_perc
0,2024,COLLABORATION AND TEAMWORK,S_SKILL,1147,4.758744
1,2024,COMMUNICATION,S_SKILL,854,3.543127
2,2024,ANALYTICAL THINKING AND PROBLEM SOLVING,S_SKILL,820,3.402066
3,2024,"CLOUD (GC, AWS, AZURE, ETC.)",LANG_FRAM,804,3.335684
4,2024,BACHELOR'S,REQUIREMENT,760,3.153134
5,2024,AI,LANG_FRAM,651,2.700909
6,2024,PYTHON,LANG_FRAM,423,1.754968
7,2024,MACHINE LEARNING,LANG_FRAM,418,1.734224
8,2024,PASSION AND ENTHUSIASM,S_SKILL,348,1.443804
9,2024,MASTER'S,REQUIREMENT,258,1.070406
10,2024,SQL,LANG_FRAM,257,1.066257
11,2024,DEVELOPMENT,H_SKILL,227,0.941791
12,2024,CODING/PROGRAMMING,H_SKILL,225,0.933494
13,2024,TESTING,H_SKILL,220,0.912749
14,2024,DATA ANALYSIS,H_SKILL,216,0.896154
15,2024,"APIS (SOAP, REST, ETC.)",LANG_FRAM,180,0.746795
16,2024,WILLING TO LEARN,S_SKILL,163,0.676264
17,2024,AGILE,H_SKILL,162,0.672116
18,2024,ATTENTION TO DETAIL,S_SKILL,159,0.659669
19,2024,INDEPENDENT WORKING,S_SKILL,153,0.634776

In [19]:
year_df['perc_change'] = year_df.groupby(['new_ent', 'type'])['proportion_perc'].pct_change()

In [20]:
year_df.head(20)

,year,new_ent,type,count,proportion_perc,perc_change
0,2024,COLLABORATION AND TEAMWORK,S_SKILL,1147,4.758744,NaN
1,2024,COMMUNICATION,S_SKILL,854,3.543127,NaN
2,2024,ANALYTICAL THINKING AND PROBLEM SOLVING,S_SKILL,820,3.402066,NaN
3,2024,"CLOUD (GC, AWS, AZURE, ETC.)",LANG_FRAM,804,3.335684,NaN
4,2024,BACHELOR'S,REQUIREMENT,760,3.153134,NaN
5,2024,AI,LANG_FRAM,651,2.700909,NaN
6,2024,PYTHON,LANG_FRAM,423,1.754968,NaN
7,2024,MACHINE LEARNING,LANG_FRAM,418,1.734224,NaN
8,2024,PASSION AND ENTHUSIASM,S_SKILL,348,1.443804,NaN
9,2024,MASTER'S,REQUIREMENT,258,1.070406,NaN
10,2024,SQL,LANG_FRAM,257,1.066257,NaN
11,2024,DEVELOPMENT,H_SKILL,227,0.941791,NaN
12,2024,CODING/PROGRAMMING,H_SKILL,225,0.933494,NaN
13,2024,TESTING,H_SKILL,220,0.912749,NaN
14,2024,DATA ANALYSIS,H_SKILL,216,0.896154,NaN
15,2024,"APIS (SOAP, REST, ETC.)",LANG_FRAM,180,0.746795,NaN
16,2024,WILLING TO LEARN,S_SKILL,163,0.676264,NaN
17,2024,AGILE,H_SKILL,162,0.672116,NaN
18,2024,ATTENTION TO DETAIL,S_SKILL,159,0.659669,NaN
19,2024,INDEPENDENT WORKING,S_SKILL,153,0.634776,NaN

In [21]:
year_df['perc_change'].fillna(0, inplace=True)

In [22]:
year_df.head()

,year,new_ent,type,count,proportion_perc,perc_change
0,2024,COLLABORATION AND TEAMWORK,S_SKILL,1147,4.758744,0.0
1,2024,COMMUNICATION,S_SKILL,854,3.543127,0.0
2,2024,ANALYTICAL THINKING AND PROBLEM SOLVING,S_SKILL,820,3.402066,0.0
3,2024,"CLOUD (GC, AWS, AZURE, ETC.)",LANG_FRAM,804,3.335684,0.0
4,2024,BACHELOR'S,REQUIREMENT,760,3.153134,0.0

### Visualisations

In [23]:
import plotly.express as px

In [24]:
month_df = pd.read_csv('../trend_data/monthly_trend.csv')

In [25]:
month_df.loc[month_df['new_ent'] == 'DATA GOVERNANCE']

,Unnamed: 0,month,new_ent,type,count,proportion_perc,perc_change
1216,1216,2024-06,DATA GOVERNANCE,H_SKILL,6,0.031195,0.000000
6270,6270,2024-07,DATA GOVERNANCE,H_SKILL,8,0.164305,4.267064

In [68]:
list(month_df['month'].unique()[::-1])

['2024-07', '2024-06']

In [26]:
lang_fram_df = month_df.loc[month_df['type'] == 'LANG_FRAM']

In [27]:
top_increase = lang_fram_df.loc[(lang_fram_df['perc_change'] > 0) & (lang_fram_df['count'] > 5)].sort_values(by='perc_change', ascending=False)

In [33]:
top_decrease = lang_fram_df.loc[(lang_fram_df['perc_change'] < 0) & (lang_fram_df['count'] > 5)].sort_values(by='perc_change', ascending=False)

In [40]:
top_increase['status'] = 'increasing'
top_decrease['status'] = 'decreasing'

In [41]:
top_increase

,Unnamed: 0,month,new_ent,type,count,proportion_perc,perc_change,status
6878,6878,2024-07,LARAVEL,LANG_FRAM,10,0.205381,8.875745,increasing
7007,7007,2024-07,MICROSOFT EXCEL,LANG_FRAM,6,0.123229,2.950298,increasing
7449,7449,2024-07,SQL SERVER,LANG_FRAM,9,0.184843,1.734822,increasing
7495,7495,2024-07,TABLEAU,LANG_FRAM,20,0.410762,1.323705,increasing
7435,7435,2024-07,SPARK,LANG_FRAM,7,0.143767,0.975149,increasing
6899,6899,2024-07,LLM,LANG_FRAM,15,0.308071,0.911434,increasing
7402,7402,2024-07,SHAREPOINT,LANG_FRAM,10,0.205381,0.881094,increasing
6901,6901,2024-07,LLMS,LANG_FRAM,9,0.184843,0.777634,increasing
7162,7162,2024-07,POWER BI,LANG_FRAM,29,0.595605,0.660270,increasing
5956,5956,2024-07,AI,LANG_FRAM,175,3.594167,0.452315,increasing
6610,6610,2024-07,GCP,LANG_FRAM,8,0.164305,0.436472,increasing
7447,7447,2024-07,SQL,LANG_FRAM,67,1.376053,0.393000,increasing
7049,7049,2024-07,MYSQL,LANG_FRAM,8,0.164305,0.374017,increasing
7705,7705,2024-07,WORD,LANG_FRAM,8,0.164305,0.215476,increasing
6614,6614,2024-07,GENAI,LANG_FRAM,8,0.164305,0.215476,increasing
6108,6108,2024-07,C++,LANG_FRAM,31,0.636681,0.144479,increasing
6806,6806,2024-07,IOS,LANG_FRAM,6,0.123229,0.077354,increasing
5900,5900,2024-07,.NET,LANG_FRAM,12,0.246457,0.053413,increasing
7514,7514,2024-07,TENSORFLOW,LANG_FRAM,9,0.184843,0.045667,increasing
7298,7298,2024-07,R,LANG_FRAM,14,0.287533,0.024151,increasing
7140,7140,2024-07,PHP,LANG_FRAM,8,0.164305,0.019432,increasing

In [42]:
top_decrease.tail(5)

,Unnamed: 0,month,new_ent,type,count,proportion_perc,perc_change,status
6821,6821,2024-07,JAVASCRIPT,LANG_FRAM,14,0.287533,-0.483139,decreasing
6875,6875,2024-07,KUBERNETES,LANG_FRAM,7,0.143767,-0.497235,decreasing
6675,6675,2024-07,HTML,LANG_FRAM,8,0.164305,-0.521176,decreasing
6104,6104,2024-07,C,LANG_FRAM,9,0.184843,-0.586597,decreasing
6894,6894,2024-07,LINUX,LANG_FRAM,8,0.164305,-0.717836,decreasing

In [48]:
test = pd.concat([top_increase.head(5), top_decrease.tail(5)], axis=0)
test

,Unnamed: 0,month,new_ent,type,count,proportion_perc,perc_change,status
6878,6878,2024-07,LARAVEL,LANG_FRAM,10,0.205381,8.875745,increasing
7007,7007,2024-07,MICROSOFT EXCEL,LANG_FRAM,6,0.123229,2.950298,increasing
7449,7449,2024-07,SQL SERVER,LANG_FRAM,9,0.184843,1.734822,increasing
7495,7495,2024-07,TABLEAU,LANG_FRAM,20,0.410762,1.323705,increasing
7435,7435,2024-07,SPARK,LANG_FRAM,7,0.143767,0.975149,increasing
6821,6821,2024-07,JAVASCRIPT,LANG_FRAM,14,0.287533,-0.483139,decreasing
6875,6875,2024-07,KUBERNETES,LANG_FRAM,7,0.143767,-0.497235,decreasing
6675,6675,2024-07,HTML,LANG_FRAM,8,0.164305,-0.521176,decreasing
6104,6104,2024-07,C,LANG_FRAM,9,0.184843,-0.586597,decreasing
6894,6894,2024-07,LINUX,LANG_FRAM,8,0.164305,-0.717836,decreasing

In [47]:
time = 'Month'
px.bar(test, x='new_ent', y='perc_change', color='status', labels={'perc_change':f'Change From Previous {time} (%)', 'new_ent':'Skill'})